
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Kode+Mono&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: var(--background-color);
    color: var(--text-color);
    background-image: url(assets/bg.jpg);
    background-repeat: no-repeat;
    /* border: 2px solid red; */
    width: 100%;
}

iframe {
    /* sombra para os videos do youtube nao ficarem soltos */
    box-shadow: var(--theme) 1px 1px 10px;
}

:root {
    --general-font: 1.75rem;
    --theme: #75f14e;
    --text-family:  "Istok Web", sans-serif;
    --text-color-footer: black;
    --background-color: #000000;
    --links-color: #75f14e;
    --text-color: #ffffff;
    --titles-family: "Kode Mono", monospace;
    --menu-color: #ECA400;
    --highlight-color: black;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-left: 22.5rem;
    margin-top: 4rem;
    font-weight: 600px;
    font-family: var(--text-family);
    font-size: var(--general-font);
}

.buttons__options a{
    color: var(--menu-color);
    font-weight: 700;
}

.buttons__options a:hover{
    color: var(--text-color);
}

.buttons__options{
    display: flex;
    gap: 5rem;
}

.container{
    display: flex;
    flex-direction: column;
    margin-top: 8.8rem;
    margin-left: 22.1rem;
    margin-right: 23.2rem;
    gap: 6rem;
}

.container__info__title{
    font-family: var(--titles-family);
    font-size: 3.8rem;
    line-height: 4.8rem;
    font-weight: 500;
}

.aviso-mobile{
    display: none;
}

.title_emphasis{
    color: var(--theme);
}

.container__info__title__indented{
    margin-left: 3.4rem;
}

.container__start{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 4rem;
    background-color: var(--theme);
    border-radius: 6.2rem;
    margin: 5rem auto;
    font-size: 2rem;
    font-weight: 700;
    font-family: var(--text-family);
    color: var(--highlight-color);
}

.container__start:hover{
    background-color: var(--text-color);
}

.tela-meus-projetos{
    border-top: 2px solid green;
    height: 900px;
    width: 1902px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    background-color: black;
    margin-top:  7.6rem;
    gap: 15rem;
    color: var(--menu-color);
    font-family: var(--titles-family);
    h1 {
        font-weight: 700;
    }
    a {
        color: var(--menu-color);
    }
}

.button-to-first-project:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--text-color);
    border-radius: 6rem;
    height: 4rem;
    width: 4rem;
}

.button-to-second-project {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6rem;
    height: 4rem;
    width: 4rem;
    font-size: 3rem;
    color: var(--menu-color);
    font-family: var(--titles-family);
    
}

.button-to-second-project:hover{
    background-color: var(--text-color);
}

.button-to-third-project {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6rem;
    height: 4rem;
    width: 4rem;
    font-size: 3rem;
    color: var(--menu-color);
    font-family: var(--titles-family);
    
}

.button-to-third-project:hover{
    background-color: var(--text-color);
}

.button-to-final{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6rem;
    height: 4rem;
    width: 4rem;
    font-size: 3rem;
    color: var(--menu-color);
    font-family: var(--titles-family);
    
}

.button-to-final:hover{
    background-color: var(--text-color);
}

.dev-links{
    margin-top: 5rem;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
    justify-content: space-around;

    h1 {
        font-size: 2.6rem;
        font-family: var(--titles-family);
        color: var(--menu-color);
    }
}

.dev-links__conteudo{
    /* border: 2px solid blue; */
    display: flex;
    gap: 3rem;
    font-family: var(--text-family);  
    font-size: 1.2rem;
}

.dev-links__conteudo__explicacao {
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 2rem;
    width: 20rem;
}

.dev-links__conteudo__explicacao__principal {
    font-size: 1.5rem;
}

.dev-links__conteudo__explicacao__detalhes {
    color: var(--theme);
    
}

.dev-links__conteudo__cta{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
    margin-bottom: 3rem;
    a {
        color: var(--text-color);
        font-weight: 700;
    }
}

.dev-links__conteudo__cta__link:hover {
    color: var(--theme);
}

.portfolio img {
    width: 768px;
    height: 432px;
}

.portfolio{
    margin-top: 15rem;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
    justify-content: space-around;

    h1 {
        font-size: 2.6rem;
        font-family: var(--titles-family);
        color: var(--menu-color);
    }
}

.portfolio__conteudo{
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: row;
    gap: 3rem;
    font-family: var(--text-family);  
    font-size: 1.2rem;
}

.portfolio__conteudo__explicacao {
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 2rem;
    width: 22rem;
}

.portfolio__conteudo__explicacao__principal {
    font-size: 1.5rem;
}

.portfolio__conteudo__explicacao__detalhes {
    color: var(--theme);
    
}

.portfolio__conteudo__cta{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
    margin-bottom: 3rem;
    a {
        color: var(--text-color);
        font-weight: 700;
    }
}

.portfolio__conteudo__cta__link:hover {
    color: var(--theme);
}

.pacman{
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
    
    h1 {
        font-size: 2.6rem;
        font-family: var(--titles-family);
        color: var(--menu-color);
    }
}

.pacman__conteudo{
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: row;
    gap: 3rem;
    font-family: var(--text-family);  
    font-size: 1.2rem;
}

.pacman__conteudo__explicacao {
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 2rem;
    width: 22rem;
}

.pacman__conteudo__explicacao__principal {
    font-size: 1.5rem;
}

.pacman__conteudo__explicacao__detalhes {
    color: var(--theme);
    
}

.pacman__conteudo__cta{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 3rem;
    margin-bottom: 3rem;
    width: 20rem;
    a {
        color: var(--text-color);
        font-weight: 700;
    }
}

.pacman__conteudo__cta__link:hover {
    color: var(--theme);
}

.sobre-mim{
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
    justify-content: space-around;

    h1 {
        font-size: 2.6rem;
        font-family: var(--titles-family);
        color: var(--menu-color);
    }
}

.sobre-mim__lista{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-family: var(--text-family);  
    font-size: 1.2rem;
}

.sobre-mim__contact{
    font-family: var(--titles-family);
    font-size: 3rem;
    color: var(--menu-color);
}

.sobre-mim__linkedin-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 15rem;
    height: 4rem;
    background-color: var(--theme);
    border-radius: 6rem;
    color: var(--highlight-color);
    font-size: 1.5rem;
    font-weight: 700;
    font-family: var(--text-family);
}

.sobre-mim__linkedin-button:hover{
    background-color: var(--text-color);
}

.sobre-mim__voltar-inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--theme);
    border-radius: 6rem;
    height: 3rem;
    width: 3rem;
    font-size: 2rem;
    color: var(--highlight-color);
}

.sobre-mim__voltar-inicio:hover{
    background-color: var(--text-color);
}

.icons{
    height: 32px;
    width: 32px;
    color: var(--theme);
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16rem;
    width: 100%;
    height: 3rem;
    font-weight: 400;
    font-family: var(--text-family);
    font-size: var(--general-font);
    color: var(--text-color-footer);
    background-color: var(--theme);
}

/* ------------------------------------------ */

@media(max-width: 1375px){

    header{
        margin-left: 0;
    }

    .buttons{
        margin-top: 3rem;
    }
    
    .buttons__options{
        gap: 5rem;
        margin-left: -15rem;
    }

    .container{
        margin: 7rem auto;
        gap: 1rem;
        width: 100%;
    }

    .container__info__title{
        font-size: 3.4rem;
        margin-left: 6rem;
    }

    .tela-meus-projetos{
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        background-color: black;
        margin-top: -1.2rem;
        gap: 15rem;
        color: var(--menu-color);
        font-family: var(--titles-family);
        h1 {
            font-weight: 700;
        }
        a {
            color: var(--menu-color);
        }
    }

    .dev-links__conteudo{
        margin-left: 1rem;
    }

    .portfolio__conteudo{
        margin: 0 1rem;
    }

    .portfolio__conteudo__explicacao {
        font-size: 1.5rem;
        margin-left: 1rem;
        gap: 4rem;
        width: 100%;

    }

    .portfolio__conteudo__explicacao__principal {
        font-size: 2rem;
    }

    .portfolio__conteudo__cta{

        margin-bottom: 3rem;
        a {
            color: var(--text-color);
            font-weight: 700;
        }
    }

    .pacman__conteudo{
        
        gap: 2rem;
    }
    
    .pacman__conteudo__explicacao {
        display: flex;
        flex-direction: column;
        text-align: justify;
        gap: 2rem;
        
    }
    
    .pacman__conteudo__explicacao__principal {
        font-size: 1.5rem;
    }
    
    .pacman__conteudo__explicacao__detalhes {
        color: var(--theme);
        
    }
    
    .pacman__conteudo__cta{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 3rem;
        margin-bottom: 3rem;
        width: 20rem;
        a {
            color: var(--text-color);
            font-weight: 700;
        }
    }

}

@media(max-width: 1293px){
    body{
        width: 90vw;    
    }
    .tela-meus-projetos{
        width: 100vw;
    }
    .dev-links{
        margin-left: auto;
        width: 100vw;
    }
    .dev-links__conteudo__cta{
        width: 30%;
    }
    .pacman__conteudo{
        width: 100%;
    }
    .pacman__conteudo__explicacao{
        font-size: 1rem;
    }
    footer{
        width: 100%;
    }
}

